<footer>
  <div class="container">

    <div class="col-md-3">
      <ul class="list-unstyled">
        <li><h6 class="text-uppercase">Project</h6></li>
        <li><a href="">About</a></li>
        <li><a href="">Source code</a></li>
        <li><a href="">Technology</a></li>
        <li><a href="">How we built it</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="list-unstyled">
        <li><h6 class="text-uppercase">Resources</h6></li>
        <li><a href="">Text sources</a></li>
        <li><a href="">Reference</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <ul class="list-unstyled">
        <li><h6 class="text-uppercase">Partners</h6></li>
        <li><a href="">One More Cloud</a></li>
        <li><a href="">Bonsai</a></li>
        <li><a href="">Heroku</a></li>
        <li><a href="">Shakespeare at Winedale</a></li>
        <li><a href="">University of Texas at Austin</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <p><small><i>Shakestat is a project by</i></small></p>
      <h3>One More Cloud</h3>
      <p>The search experts.</p>
      <p>Makers of <a href="">Bonsai</a> and <a href="">Websolr</a>.</p>
      <p><a href="">Contact Us</a></p>
    </div>


  </div>
</footer>
