.home {
  padding: 3em 0;
}

a {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}



article {
  p { margin-bottom: 0;}
  a {
    color: black;
    &:hover {
      text-decoration: none;
    }
  }
  blockquote {
    border-left: none;
    font-style: normal;
    p {
      margin: 10px 0;
    }
  }
}

.anchor-line-link {
  color: rgba(128, 128, 128, 0.18);
  position: absolute;
  text-align: right;
  right: 0;
  min-width: 100px;
  &:hover {
    color: $link-color;
  }
}

@media (min-width: 768px) {
  .anchor-line-link {
    right: initial;
    left: -120px;
  }
}
